<h1>Select times:</h1>
<label>Work time</label>
<select class="worktime-select" ng-model="timerOptions.workTime">
  <option value="25:00">25:00</option>
  <option value="30:00">30:00</option>
  <option value="35:00">35:00</option>
  <option value="40:00">40:00</option>
</select>

<label>Rest time</label>
<select class="resttime-select" ng-model="timerOptions.restTime">
  <option value="3:00">3:00</option>
  <option value="4:00">4:00</option>
  <option value="5:00">5:00</option>
</select>


    <!-- <countdown-timer ng-show="timerStarted" count="1500"></countdown-timer> -->
    <!-- <countdown-timer ng-show="breakSession" countDown=300></countdown-timer> -->
