<div class="col-md-12">
  <div class="timer-wrapper" ng-controller="TimerCtrl" ng-init="working = true">
    <div class="col-md-6">
      <aside class="sidebar">
        <h2>Sessions completed today: {{sessions.length}} </h2>

        <h3 class='mb-1'>Select category</h3>
        <select class="worktime-select" ng-model="workCategory">
          <option value="work" selected="selected">Work</option>
          <option value="chores">Chores</option>
          <option value="school">School</option>
          <option value="hobby">Hobby</option>
        </select>

        <h3 class='mb-1'>What are you working on?</h3>
        <input type="text" ng-model="description">

        <section ng-if="sessions.length" class='recent-sessions'>
          <h3 class='mb-15'>Recent sessions:</h3>
          <article class="session" ng-repeat="session in sessions">
            {{session.description}}
          </article>
        </section>
      </aside>
    </div>

    <div class="col-md-6">
      <div class="mb-15">
        <h1 ng-show="working">Work time</h1>
        <h1 ng-show="shortBreak">Short break time</h1>
        <h1 ng-show="longBreak">Long break time</h1>
      </div>
      <main>
        <button ng-show="working && !timerRunning" ng-click="startTimer(1500)" class='btn btn-primary btn-lg btn-wide'>{{pauseCount ? 'Resume' : 'Start'}}</button>
        <button ng-show="shortBreak && !timerRunning" ng-click="startTimer(300)" class='btn btn-primary btn-lg'>Go!</button>
        <button ng-show="longBreak && !timerRunning" ng-click="startTimer(600)" class='btn btn-primary btn-lg'>Go!</button>
        <button ng-show="timerRunning" ng-click="pauseTimer()" class='btn btn-success btn-lg'>Pause</button>
        <button ng-show="timerRunning" ng-click="resetTimer()" class="btn btn-warning btn-lg'">Reset</button>
        <div ng-show="timerRunning || pauseCount" class='timer'>{{countDown | formatTime}}</div>
      </main>
    </div>



  </div>

</div>
